*importing the necessary libraries*

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency

*load data*

In [60]:
df = pd.read_csv(r"C:\Users\Iqbal\OneDrive\Desktop\Data Analysis\Project\Hypothesis testing\BRCA.csv")

In [72]:
df.head()

,Patient_ID,Age,Gender,Tumour_Stage,Histology,ER status,PR status,HER2 status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36,FEMALE,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,2017-01-15,19-Jun-17,Alive
1,TCGA-EW-A1OX,43,FEMALE,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,2017-04-26,09-Nov-18,Dead
2,TCGA-A8-A079,69,FEMALE,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,2017-09-08,09-Jun-18,Alive
3,TCGA-D8-A1XR,56,FEMALE,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,2017-01-25,12-Jul-17,Alive
4,TCGA-BH-A0BF,56,FEMALE,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,2017-05-06,27-Jun-19,Dead

*EDA analysis*

In [81]:
df.isnull().sum()

Patient_ID            0
Age                   0
Gender                0
Tumour_Stage          0
Histology             0
ER status             0
PR status             0
HER2 status           0
Surgery_type          0
Date_of_Surgery       0
Date_of_Last_Visit    0
Patient_Status        0
dtype: int64

In [82]:
df.dropna(inplace=True)

In [83]:
df.duplicated().sum()

np.int64(0)

In [84]:
df.shape

(317, 12)

In [77]:
df.dtypes

Patient_ID                    object
Age                            int64
Gender                        object
Tumour_Stage                  object
Histology                     object
ER status                     object
PR status                     object
HER2 status                   object
Surgery_type                  object
Date_of_Surgery       datetime64[ns]
Date_of_Last_Visit            object
Patient_Status                object
dtype: object

In [85]:
df['Age'] =df['Age'].astype('int64')

In [86]:
# ...existing code...
df['Date_of_Surgery'] = pd.to_datetime(df['Date_of_Surgery'])

In [95]:
cols_to_drop = ['Protein1', 'Protein2', 'Protein3', 'Protein4']
existing_cols = [col for col in cols_to_drop if col in df.columns]
df.drop(columns=existing_cols, inplace=True)

In [101]:
df.rename(columns={'ER status':'Estrogen receptor status','PR status':'Progesterone receptor status','HER2 status':'HER2 receptor status'}, inplace=True)

In [104]:
df.head()

,Patient_ID,Age,Gender,Tumour_Stage,Histology,Estrogen receptor status,Progesterone receptor status,HER2 receptor status,Surgery_type,Date_of_Surgery,Date_of_Last_Visit,Patient_Status
0,TCGA-D8-A1XD,36,FEMALE,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,2017-01-15,19-Jun-17,Alive
1,TCGA-EW-A1OX,43,FEMALE,II,Mucinous Carcinoma,Positive,Positive,Negative,Lumpectomy,2017-04-26,09-Nov-18,Dead
2,TCGA-A8-A079,69,FEMALE,III,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,2017-09-08,09-Jun-18,Alive
3,TCGA-D8-A1XR,56,FEMALE,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Modified Radical Mastectomy,2017-01-25,12-Jul-17,Alive
4,TCGA-BH-A0BF,56,FEMALE,II,Infiltrating Ductal Carcinoma,Positive,Positive,Negative,Other,2017-05-06,27-Jun-19,Dead

In [105]:
df.describe()

              Age                Date_of_Surgery
count  317.000000                            317
mean    58.725552  2018-09-04 07:56:58.296529920
min     29.000000            2017-01-15 00:00:00
25%     49.000000            2018-03-11 00:00:00
50%     58.000000            2018-09-27 00:00:00
75%     67.000000            2019-03-26 00:00:00
max     90.000000            2019-11-21 00:00:00
std     12.827374                            NaN

In [109]:
df.to_csv(r"C:\Users\Iqbal\OneDrive\Desktop\Data Analysis\Course (Interactive)\SQL 25\patient_status_cleaned.csv", index=False)